h1 {
  font-family: 'Mountains of Christmas';
  font-size: 56px;
  color: #1E90FF;
}
h2 {
  font-family: 'Nanum Brush Script';
  font-size: 46px;
}
body {
    background-color: #F0F8FF;
    margin: 50px;
    text-align: center;
}
h3 {
  font-style: italic;
  color: 	#4169E1;
}
p {
  font-family: 'Oranienbaum';
  font-size: 30px;
}

button {
  font-family: 'Cuprum';
  font-size: 40px;
  color: white;
  background-color: #D8BFD8;
  cursor: pointer;
  border: solid;
  border-color: #DDA0DD;
  border-width: 3px;
  padding: 28px;
}
